#app {
  margin-top: 20px;
}

#intro-text {
  text-align: center;
}

#password-input {
  margin-left: -1px;
}

#email-input {
  width: 200px;
}

#modal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}

#modal {
  position: absolute;
  top: 100px;
  left: 30%;
  right: 30%;
  background-color: white;
  border: solid black 1px;
  font-size: 1.5em;
  text-align: center;
  height: 200px;
  padding-top: 50px;
  border-radius: 5px;
}

#loadingbar {
  clear: both;
  margin-top: 20px;
}

.page-header {
  text-align: center;
  border-bottom: none;
}

.page-header h1 {
  font-size: 1.5em;
}

#react-logo {
  width: 200px;
}

#powered-by-text {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: -25px;
}

.panel {
  min-height: 200px;
  border-radius: 0;
}

.panel-heading a {
  color: black;
}

.panel-default > .panel-heading {
  color: white;
  font-size: 1em;
}

.form-inline {
  margin-top: -30px;
  margin-bottom: 60px;
  clear: both;
}

.form-inline input[type='text'] {
  width: 300px;
}

.form-inline input {
  width: 300px;
  border-radius: 0;
  border: #00539F solid 1px;
}

.btn-primary {
  background-color: #00539F;
  border-radius: 0;
  border: #00539F solid 1px;
}

.price {
  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: #00539F;
  min-height: 50px;
  font-size: 1.25em;
  padding-top: 5px;
  border-radius: 5px;
}

.buy-link {
  display: block;
  background-color: #EC1A2C;
  color: white;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#search-form {
  display: none;
}

#tesco {
  font-family: 'Montserrat', sans-serif;
  color: #EC1A2C;
  font-size: 1.25em;
  font-weight: bold;
  border-bottom: 12px #00539F dotted;
}
